body
{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background: url(../images/background.jpg);
    background-size: cover;
}

#bigBox > h2{
    color: white;
}

input::-webkit-input-placeholder{
    color: aqua;
}

.ps{
    width: 100%;
    text-align: center;
    color:rgb(86, 37, 37);
    font-size: large;
}

.icon{
    width: 221px;
    height: 1px;
    /* float: left; */
}

#bigBox
{
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 50px;
    background-color: #00000680;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    background-position: 100px 100px;
}

#bigBox h1
{
    color: white;
}

#bigBox .inputBox .inputText
{
    margin-top: 20px;
}

#bigBox .inputBox .inputText span
{
    color: white;
}

#bigBox .inputBox .inputText input
{
    border:0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    background-color: #00000000;
    color: white;
}

#bigBox .loginButton
{
    margin-top: 10px;
    width: 150px;
    height: 25px;
    color: white;
    border: 0;
    border-radius: 20px;
    background-color: #b465b4;
}

#bigBox .loginButton:hover{
    background-color: #643c64;
}